/* Hide elements with the hidden class */
.hidden {
  display: none;
}

/* Style for Team nodes */
.team-nodes {
  cursor: pointer;
  color: #007bff; /* Blue color, customize as needed */
  font-weight: bold;
  margin-bottom: 10px;
  border: 1px solid #007bff; /* Add border */
  padding: 10px; /* Increase padding */
  background-color: #f0f2f6; /* Light gray background color */
}

/* Style for Block nodes */
.block-nodes {
  cursor: pointer;
  color: #28a745; /* Green color, customize as needed */
  margin-left: 20px;
  border: 1px solid #28a745;
  padding: 10px; /* Increase padding */
  background-color: #e1f3d8; /* Slightly different shade of green */
}

/* Style for Exercise nodes */
.exc_nodes {
  cursor: pointer;
  color: #dc3545; /* Red color, customize as needed */
  margin-left: 20px;
  border: 1px solid #dc3545;
  padding: 10px; /* Increase padding */
  background-color: #f6d7d7; /* Slightly different shade of red */
}

/* Hover effect */
.team-nodes:hover,
.block-nodes:hover,
.exc_nodes:hover {
  text-decoration: underline;
}
