<!DOCTYPE html>
<html>
  <head>
    <title>Account Creation</title>
  </head>

  <body>
    <div id="table-container">
      <label for="set-number">Set Number:</label>
      <input type="number" id="set-number" />
      <button id="addSets-btn">Add Sets</button>
      <table>
        <thead>
          <th>SETS</th>
          <th>LOAD</th>
          <th>REPS</th>
          <th></th>
          <th></th>
        </thead>
        <tbody></tbody>
      </table>
      <!-- Table will be generated here -->
    </div>
    <script src="../static/js/html_tables.js" defer></script>
  </body>
</html>
