header {
  background-color: #0077b5;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

nav {
  background-color: #0077b5;
  color: #fff;
  padding: 10px 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s ease-in-out;
  padding: 15px 25px;
  border-radius: 15px; /* Add rounded corners to the tab */
}

nav a.current {
  color: #fff;
  background-color: #005599;
  font-weight: bold;
  border-radius: 15px; /* Apply rounded corners to the selected tab */
}

nav a:hover,
nav a:focus {
  color: #005599;
  background-color: #fff;
  border-radius: 15px; /* Apply the same rounded corners on hover/focus */
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 60px);
  margin-bottom: 60px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 50%; /* Align the footer to the horizontal center of the viewport */
  transform: translateX(-50%); /* Center the footer horizontally */
  width: 100%;
  background-color: #fff;
  color: #333;
  text-align: center;
  padding: 10px 0;
  z-index: 999;
  box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.2); /* Add shadow effect */
}

.footer-content {
  max-width: 1400px;
  margin: 0 auto;
}

h1 {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 30px;
  color: #0077b5;
}

.title {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 30px;
  color: #fff; /* White color */
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #0077b5;
}

/* Basic styling for the DataTable */
#athleteTable {
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#athleteTable th,
#athleteTable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

#athleteTable th {
  background-color: #f2f2f2;
}

/* Style for Edit and Delete buttons */
.edit-button,
.delete-button {
  background-color: #0077b5;
  color: #fff;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
}

.edit-button:hover,
.delete-button:hover {
  background-color: #00568d;
}

/* Hover effect for table rows */
#athleteTable tbody tr:hover {
  background-color: #f5f5f5;
}

/* #athleteTable_filter input[type="search"] {
            padding-right: 100px;
        } */

#athleteTable_filter {
  margin-bottom: 20px;
}

#athleteTable tbody tr.selected {
  background-color: #0077b5;
  color: #fff;
  font-weight: bold;
}

/* Style for the button container */
#buttonContainer {
  text-align: center; /* Center align the buttons */
  margin-top: 20px; /* Add spacing between the buttons and the table */
}

/* Style for the "Continue" button */
#continueButton {
  margin-right: 20px;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
}

/* Style for the "Return" button */
#returnButton {
  margin-left: 20px;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
}
