header {
  background-color: #0077b5;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

nav {
  background-color: #0077b5;
  color: #fff;
  padding: 10px 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s ease-in-out;
  padding: 15px 25px;
  border-radius: 15px; /* Add rounded corners to the tab */
}

nav a.current {
  color: #fff;
  background-color: #005599;
  font-weight: bold;
  border-radius: 15px; /* Apply rounded corners to the selected tab */
}

nav a:hover,
nav a:focus {
  color: #005599;
  background-color: #fff;
  border-radius: 15px; /* Apply the same rounded corners on hover/focus */
}

.footer {
  position: fixed;
  bottom: 0;
  left: 50%; /* Align the footer to the horizontal center of the viewport */
  transform: translateX(-50%); /* Center the footer horizontally */
  width: 100%;
  background-color: #fff;
  color: #333;
  text-align: center;
  padding: 10px 0;
  z-index: 999;
  box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.2); /* Add shadow effect */
}

.footer-content {
  max-width: 1400px;
  margin: 0 auto;
}

h1 {
  font-size: 28px;
  margin-top: 20px;
  margin-bottom: 30px;
  color: #0077b5;
}

.title {
  font-size: 28px;
  margin-top: 20px;
  margin-bottom: 30px;
  color: #fff; /* White color */
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #0077b5;
}

#athlete-calendar .card table {
  width: 100%;
  height: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  /* Other CSS styles for the table here, if needed */
}

.today-date {
  background-color: #9308cf;
  color: #fff;
  border-radius: 12px;
}

.clicked-date {
  background-color: #e10c6f;
  color: #fff;
  border-radius: 12px;
}

#treeview {
  padding: 0;
  margin: 0;
}

.form-inline {
  display: flex; /* Use flexbox to make the buttons appear horizontally */
  justify-content: space-between; /* Add space between the buttons */
  width: 100%;
}

#previous {
  margin-right: 5px; /* Add a small margin to the right of the "Previous" button */
}

/* Style for labels and select boxes */
.form-inline label,
.form-inline select {
  flex: 1; /* Let each item take up an equal amount of space within the container */
  margin-right: 10px; /* Add a small margin to the right of each item for spacing */
}

/* Additional styling for select boxes if needed */
.form-inline select {
  width: auto; /* You can adjust the width as needed */
}

#month,
#year {
  font-size: 20px; /* Adjust the font size to your preference */
}

.lead {
  font-size: 20px;
}

#calendar th,
#calendar td {
  padding-top: 10px;
  padding-bottom: 10px; /* Adjust the margin value as needed */
}

.tab-button li {
  padding: 10px;
}
.active > a {
  color: #bc204b !important;
}
.active {
  border-bottom: 1px solid #bc204b;
}
.tab-button li:hover {
  border-bottom: 1px solid #bc204b;
}

a:hover {
  text-decoration: none;
}
.wrapper {
  -webkit-overflow-scrolling: touch;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  padding: 5px;
  height: 50px;
}

.list {
  position: absolute;
  left: 0px;
  top: 0px;
  min-width: 3000px;
  margin-left: 12px;
  margin-top: 0px;
  -webkit-overflow-scrolling: touch;
}

.list li {
  display: table-cell;
  position: relative;
  text-align: center;
  cursor: grab;
  cursor: -webkit-grab;
  color: #efefef;
  vertical-align: middle;
}

.scroller {
  text-align: center;
  cursor: pointer;
  display: none;
  padding: 20px;
  color: #959595;
  white-space: no-wrap;
  vertical-align: middle;
  background-color: #fff;
}

.scroller-right {
  float: right;
}

.scroller-left {
  float: left;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f3f2ef;
  margin: 0;
  padding: 0;
  color: #333;
}

h2 {
  margin-left: 20px;
}
header {
  background-color: #0077b5;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

nav {
  background-color: #0077b5;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  display: inline;
  margin: 0 20px;
}

.container {
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  text-align: center;
}

/* Added a container for login forms */
.login-forms {
  display: grid;
  grid-template-columns: 0.4fr 0.6fr;
  justify-content: stretch; /* Center horizontally */
  /*align-items: center; /* Center vertically */
  flex-wrap: wrap; /* Wrap login containers if the screen is narrow */
}

.login-container-1 {
  background-color: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 30px;
  text-align: center;
  width: max-width;
  margin: 20px; /* Added margin */
}

.login-container-2 {
  background-color: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 30px;
  /* text-align: center; */
  width: max-width;
  margin: 20px; /* Added margin */
}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #fff;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

p {
  font-size: 16px;
  margin-bottom: 30px;
  color: #666;
}

button {
  background-color: #0077b5;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #005599;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  color: #333;
  text-align: center;
  padding: 10px 0;
}

/* EVENT VIEW STYLES */
/* Hide elements with the hidden class */
.hidden {
  display: none;
}

.add-block-btn-hide {
  display: none;
}

.add-exercise-btn-hide {
  display: none;
}

/* Style for Team nodes */
.team-nodes {
  list-style: none;
  cursor: pointer;
  color: #fff; /* Blue color, customize as needed */
  font-weight: bold;
  margin-bottom: 10px;
  border: 1px solid #d6d9da; /* Add border */
  padding: 20px;
  background-color: #0077b5; /* Light gray background color */
  text-align: center;
}

/* Style for Block nodes */
.block-nodes {
  list-style: none;
  cursor: pointer;
  color: #fff; /* Green color, customize as needed */
  margin-left: 2px;
  border: 1px solid #d6d9da;
  padding: 20px; /* Increase padding */
  background-color: #2a8fc5; /* Slightly different shade of green */
  text-align: left;
}

/* Style for Exercise nodes */
.exc_nodes {
  list-style: none;
  cursor: pointer;
  color: #fff; /* Red color, customize as needed */
  margin-left: 2px;
  border: 1px solid #d6d9da;
  padding: 20px; /* Increase padding */
  background-color: #2e769d; /* Slightly different shade of red */
  text-align: left;
}

/* Hover effect */
.team-nodes:hover,
.block-nodes:hover,
.exc_nodes:hover {
  text-decoration: underline;
}

/*Search Bar*/
.search-bar {
  text-align: center;
  margin-top: 20px;
}

#team-search,
#athlete-search {
  width: 100%;
  padding: 12px 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
}

.team-train-sessions {
  max-height: 450px; /* Adjust the height as needed */
  overflow-y: scroll; /* Add a vertical scrollbar */
}

.athlete-train-sessions {
  max-height: 450px; /* Adjust the height as needed */
  overflow-y: scroll; /* Add a vertical scrollbar */
}

/* Hide the scrollbar until it's needed */
.team-train-sessions ::-webkit-scrollbar {
  width: 6px;
}

.athlete-train-sessions::-webkit-scrollbar {
  width: 6px;
}

.team-train-sessions ::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 3px;
}

.athlete-train-sessions::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 3px;
}

#block-tabs {
  display: flex;
  justify-content: space-between;
  background-color: offwhite;
  padding: 10px;
  border-collapse: collapse;
}

#exercise-tabs {
  display: flex;
  justify-content: space-between;
  background-color: offwhite;
  padding: 10px;
  border-collapse: collapse;
}
.create-exercise-table-hide {
  display: none;
}

#create-exercise-heads th {
  background: #f3f3f3; /* Slightly darker off-white background for header */
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
  margin: 10px 10px;
}

.create-exercise-rows tr {
  background: #f7f7f7;
}

.create-exercise-rows td {
  padding: 5px;
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
}

.create-exercise-rows td input {
  padding: 2px;
  text-align: center;
  border: 1px solid #e0e0e0;
  width: 100%; /* Set the width to 100% to fill the td */
  padding: 10px; /* Add padding for spacing */
  box-sizing: border-box;
}

#create-exercise {
  margin: 20px;
  background: rgba(
    255,
    255,
    255,
    0.95
  ); /* Almost white background with a subtle light shadow */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  border-collapse: collapse;
}

.disabled-button {
  background-color: lightgray;
  cursor: not-allowed;
}

#addSet-btn {
  position: relative;
}

.add-Set--btns {
  display: none;
}
