.hidden {
  display: none;
}
.hidden-1 {
  display: none;
}
.hidden-2 {
  display: none;
}

.team-nodes {
  cursor: pointer;
  color: #007bff; /* Blue color, customize as needed */
  font-weight: bold;
  margin-bottom: 10px;
}

.block-nodes {
  cursor: pointer;
  color: #28a745; /* Green color, customize as needed */
  margin-left: 20px; /* Add some left margin for indentation */
}

.exc_nodes {
  cursor: pointer;
  color: #dc3545; /* Red color, customize as needed */
  margin-left: 20px; /* Add some left margin for indentation */
}

/* Hover effect */
.team-nodes:hover,
.block-nodes:hover,
.exc_nodes:hover {
  text-decoration: underline;
}
