<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=yes" />
    <!-- Include jQuery and jQuery UI libraries -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link
      rel="stylesheet"
      href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
    />
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- Other CSS and JavaScript libraries -->
    <!-- ... -->

    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/select2@4.0.6-rc.1/dist/css/select2.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/athlete_landing-page.css" />
    <script
      src="https://cdn.jsdelivr.net/npm/select2@4.0.6-rc.1/dist/js/select2.min.js"
      defer
    ></script>
  </head>

  <body>
    <header>
      <h1 class="title">Sports Performance Pro</h1>
    </header>

    <nav>
      <ul>
        <li><a href="/athleteLanding">Home</a></li>
        <li><a href="test-selection.html">Athlete Tests</a></li>
        <li><a href="/athleteNotes.html">Notes</a></li>
        <li><a href="#">Notifications</a></li>
        <li><a href="coach-profile.html">My Profile</a></li>
      </ul>
    </nav>



    <div class="container">
      <h1>Athlete training sessions!</h1>
      <p id="user_id" data-user-email="{{athlete_username}}"></p>
      <!-- Container for login forms -->
      <div class="login-forms">
        <div class="login-container-1" style="margin-right: 20px">
                <!-- Left side div for the date picker -->
                  <div class="card">
                    <h4 class="card-header">Pick a Date</h3>
                    <div class="card-body">
                      <input
                        type="text"
                        id="selectedDate"
                        class="form-control"
                        placeholder="DD/MM/YYYY"  
                      />
                      <button
                        class="btn btn-primary mt-3"
                        onclick="openDatePicker()"
                      >
                        Open Date Picker
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <!-- Right side div (workout display) -->
                <div id="workout-display" class="mt-5" style="display: none">
                  <!-- Display workout for selected date here -->
                  <h2>Workout for Selected Date:</h2>
                  <div id="selectedDateWorkout"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

       
        <div class="login-container-2">
          <div class="container">
            <!-- Search for an athlete -->
            <!-- <div class="search-container">
              <input
                type="text"
                id="athlete-search"
                placeholder="Search the exercise"
              />
              <button id="search-button">Search</button>
            </div> -->

            <div class="team-list">
              <table id="trainingTable">
                <thead>
                  <tr>
                    <th>My Training Sessions</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- Dynamically fill in the team names here -->
                </tbody>
              </table>
            </div>

            <!-- This is a test-->
            <!-- <ul class="appendingTest">
              <li>This is a test to check appending</li>
            </ul> -->

            <div id="my-training">
              <!-- Generate dynamically my training session from the databas -->
              <!-- On clicking a particular team , should generate the below and add it to the specific team -->
              <!-- Generate dynamically from the databas -->
              <!-- Tabs for blocks and exercises -->
              <div class="tab-container">
                <div class="horizontal-tabs" id="block-tabs">
                  <!-- <button id="add-block-button" class="add-block-btn-hide">
                    Add a Block
                  </button> -->
                </div>
                <div class="vertical-tabs" id="exercise-tabs">
                  <!-- PUTTING THIS OUT FOR A CHANGE-->
                  <!-- <button id="add-exercise-button" class="add-exercise-btn-hide">
                  Add an Exercise
                </button> -->
                </div>
              </div>

              <!-- <button id="add-exercise-button" class="add-exercise-btn-hide">
                Add an Exercise
              </button> -->
              <!-- Display exercise details -->
              <div id="exercise-details">
                Select an exercise to view details.
                <div id="table-container" class="create-exercise-table-hide">
                  <!-- MOVED FROM HERE -->

                  <button id="addSet-btn" class="add-Set--btns">Add SET</button>
                  <form
                    action="demo.html"
                    method="GET"
                    id="create-exercise-form"
                  >
                    <div id="dropdown-container">
                      <!-- Dropdowns will be created here -->
                    </div>
                    <table id="create-exercise">
                      <thead id="create-exercise-heads">
                        <th
                          id="header-set"
                          style="text-align: center; color: white"
                        >
                          SET
                        </th>
                        <th
                          id="header-load"
                          style="text-align: center; color: white"
                        >
                          LOAD
                        </th>
                        <th
                          id="header-reps"
                          style="text-align: center; color: white"
                        >
                          REPS
                        </th>
                        <th
                          id="header-input"
                          style="text-align: center; color: white"
                        >
                          input_load
                        </th>
                        <th
                          id="header-actions"
                          style="text-align: center; color: white"
                        >
                          Actions
                        </th>
                      </thead>
                      <tbody class="create-exercise-rows">
                        <div id="buttonContainer">
                          <button
                            type="submit"
                            id="submitExercise"
                            class="btn btn-primary"
                          >
                            Submit
                          </button>
                          <!-- <button
                            id="modifyButton"
                            class="btn btn-secondary"
                            disabled
                          >
                            Modify
                          </button> -->
                          <!-- <button id="returnButton" class="btn btn-secondary">
                            Return
                          </button> -->
                        </div>
                      </tbody>
                    </table>
                    <div id="error-message" style="color: red"></div>
                    <div id="success-message" style="color: green"></div>
                  </form>
                  <!-- Table will be generated here -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div style="margin-top: 100px"></div>
    <div
      id="athlete-username"
      data-username="{{ username }}"
      style="display: none"
    ></div>

    <footer>
      <div class="footer">2023 Sports Performance Pro</div>
    </footer>

    <script src="../static/js/calendar.js"></script>
    <script src="../static/js/athlete_landing-page.js" defer></script>

    <script>
      // Function to open the date picker
      function openDatePicker() {
        $("#selectedDate").datepicker({
          dateFormat: "mm/dd/yy",
          onSelect: function (dateText, inst) {
            // When a date is selected, you can load the workout for that date here
            var selectedDate = dateText;
            // For demonstration, we'll just display the selected date's workout
            $("#selectedDateWorkout").text(
              "Workout for " + selectedDate + " will be displayed here."
            );
            // Display the workout section
            $("#workout-display").show();
          },
        });

        // Show the date picker
        $("#selectedDate").datepicker("show");
      }
    </script>
  </body>
</html>
